<% include ../../../app/views/head %>
<div id="wack-a-mole"></div>

<!-- Production Scripts -->
<!--<script src="/scripts/build/wack_a_mole.js" type="text/javascript"></script>-->

<!-- Development Scripts -->

<script src="scripts/components/Field.jsx" type="text/jsx"></script>
<script src="scripts/components/FullScreenButton.jsx" type="text/jsx"></script>
<script src="scripts/components/Instructions.jsx" type="text/jsx"></script>
<script src="scripts/components/Questions.jsx" type="text/jsx"></script>
<script src="scripts/components/Stats.jsx" type="text/jsx"></script>
<script src="scripts/wackamole.jsx" type="text/jsx"></script>

<% include ../../../app/views/tail %>
